<app-navbar *ngIf="!isLoginRoute && !isResetPasswordRoute " (menuState)="burgerClicked($event)"></app-navbar>

<div class="container-fluid ml-0">
  <div class="row">
    <!-- Sidebar -->
    <div 
      class="col-12 col-md-3 pl-0 side" 
      [hidden]="subMenuState.toggle || isLoginRoute || isResetPasswordRoute">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content -->
    <div 
      class="col-12 col-md-9"
      [ngClass]="{
        'col-12': subMenuState.toggle || isLoginRoute,
        'col-md-9': !subMenuState.toggle && !isLoginRoute
      }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
