<div class=" container-fluid">
    <div class="container-fluid  pl-0">

      <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-2">
        <h1 class="h3 mb-0 col">Dashboard</h1>
    </div>

    <div><br/></div>
    <div><br/></div>

    <div class="dashboard-header d-flex align-items-center justify-content-center ">
      <h1 class="dashboard-title">Dashboard Home Page</h1>
    </div>
    <div class="footer-image-container">
      <img src="../../assets/images/profile/accueil.png" alt="Footer Image" class="footer-image">
    </div>

    <footer class="sticky-footer">
      <div class="container my-auto">
          <div class="copyright text-center my-auto">
              <span>Copyright &copy; 2024</span>
          </div>
      </div>
    </footer>
    </div>
</div>


