<div><br/></div>
<div><br/></div>
<div><br/></div>
<div><br/></div>
<div class="card">
  <div class="card-header">
    Personnel Profile Settings
  </div>
  <div class="card-body">
<!-- Profile Settings Form -->
  <div class="p-3 py-5">
  

    <!-- Row 1: Name and Surname -->
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First name"
          [(ngModel)]="personnel.nom"
          name="nom"
        />
      </div>

      <div class="col-md-6">
        <label class="labels">Surname</label>
        <input
          type="text"
          class="form-control"
          placeholder="Surname"
          [(ngModel)]="personnel.prenom"
          name="prenom"
        />
      </div>
    </div>

    <!-- Row 2: CIN and Date of Birth -->
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">CIN</label>
        <input
          type="number"
          class="form-control"
          placeholder="CIN"
          [(ngModel)]="personnel.cin"
          name="cin"
        />
      </div>

      <div class="col-md-6">
        <label class="labels">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          placeholder="Enter Date of Birth"
          [(ngModel)]="personnel.dateNaissance"
          name="dateNaissance"
        />
      </div>
    </div>

    <!-- Row 3: Email -->
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="labels">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email"
          [(ngModel)]="personnel.email"
          name="email"
        />
      </div>
    </div>

    <!-- Row 4: Password -->
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="labels">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          [(ngModel)]="personnel.mdp"
          name="mdp"
        />
      </div>
    </div>

    <!-- Row 5: Foyer Dropdown -->
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="labels">Foyer</label>
        <select
          class="form-control"
          [(ngModel)]="personnel.foyerId"
          name="foyerId"
        >
          <option *ngFor="let foyer of foyers" [value]="foyer.id">{{ foyer.nom }}</option>
        </select>
      </div>
    </div>

    <!-- Save Button -->
    <div class="mt-6 text-center">
      <button class="btn profile-button" (click)="save()" type="button">Save Profile</button>
    </div>
  </div>
</div>
</div>
