<!-- Profile Settings Form -->
<div class="col-md-5 border-right">
    <div class="p-3 py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">Profile Settings</h4>
      </div>
      <div class="row mt-2">
        <!-- Name Field -->
        <div class="col-md-6">
          <label class="labels">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            [(ngModel)]="personnel.nom"
            name="nom"
          />
        </div>
        
        <!-- Surname Field -->
        <div class="col-md-6">
          <label class="labels">Surname</label>
          <input
            type="text"
            class="form-control"
            placeholder="Surname"
            [(ngModel)]="personnel.prenom"
            name="prenom"
          />
        </div>
        
        <div class="col-md-6">
          <label class="labels">CIN</label>
          <input
            type="number"
            class="form-control"
            placeholder="CIN"
            [(ngModel)]="personnel.cin"
            name="cin"
          />
        </div>
      </div>
      
      <div class="row mt-3">
        <!-- Date of Birth Field -->
        <div class="col-md-12">
          <label class="labels">Date of Birth</label>
          <input
            type="date"
            class="form-control"
            placeholder="Enter Date of Birth"
            [(ngModel)]="personnel.dateNaissance"
            name="dateNaissance"
          />
        </div>
      </div>
      
      <div class="row mt-3">
        <!-- Email Field -->
        <div class="col-md-12">
          <label class="labels">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            [(ngModel)]="personnel.email"
            name="email"
          />
        </div>
      </div>
  
      <div class="row mt-3">
        <!-- Password Field -->
        <div class="col-md-12">
          <label class="labels">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter password"
            [(ngModel)]="personnel.mdp"
            name="mdp"
          />
        </div>
      </div>
      
      <div class="row mt-3">
        <!-- Foyer Dropdown Field -->
        <div class="col-md-12">
          <label class="labels">Foyer</label>
          <select
            class="form-control"
            [(ngModel)]="personnel.foyerId"
            name="foyerId"
          >
            <option *ngFor="let foyer of foyers" [value]="foyer.id">{{ foyer.nom }}</option>
          </select>
        </div>
      </div>
      
      <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" (click)="save()" type="button">Save Profile</button>
      </div>
    </div>
  </div>
  