<!-- Header Component HTML -->
<header class="main-header">
  <div class="header-left">
    <div class="brand">
      <img src="../../assets/images/logos/logoresidence.png" alt="Logo" class="logo">
    </div>
  </div>

  <div class="header-right">
    <nav>
      <ul class="list-items">
        <li class="item user-profile" (click)="toggleDropdown()">
          <a href="#">
            <img src="../../assets/img/user.jpg" alt="User" class="user-image">
            <span class="user-name">{{userRole}}</span>
          </a>
          <ul class="dropdown-menu show" *ngIf="isDropdownVisible">
            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
          </ul>
          
        </li>
      </ul>
    </nav>
  </div>
</header>
