<div class="sidebar sidebar-dark">
    <ul class="navbar-nav accordion" id="accordionSidebar">
  
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <i class="fa fa-tachometer"></i>
          <span>Dashboard</span>
        </a>
      </li>
  
      <!-- Divider -->
      <hr class="sidebar-divider">
  
      <!-- Heading -->
      <div class="sidebar-heading">
        FRONTEND
      </div>
  
      <!-- Nav Item - Components -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fa fa-cog"></i>
          <span>Components</span>
        </a>
      </li>
  
      <!-- Divider -->
      <hr class="sidebar-divider">
  
      <!-- Heading -->
      <div class="sidebar-heading">
        BACKEND
      </div>
  
      <!-- Nav Item - Foyer -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/foyer">
          <i class="fa fa-address-book"></i>
          <span>Foyer</span>
        </a>
      </li>
  
      <!-- Nav Item - Personnel -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="list-item-active" routerLink="/personnel">
          <i class="fa fa-address-book"></i>
          <span>Personnel</span>
        </a>
      </li>
  
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
    </ul>
  </div>
  