<div><br/></div>
<div><br/></div>
<div><br/></div>
<div><br/></div>
<div class="card">
  <div class="card-header">Foyer Management</div>
  <div class="card-body">
    <!-- Add Foyer Form -->
    <form (ngSubmit)="addFoyer()" class="mb-4">
      <h2>Add a New Foyer</h2>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Foyer Name"
          [(ngModel)]="newFoyer.nom"
          name="nom"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          placeholder="Latitude"
          [(ngModel)]="newFoyer.latitude"
          name="latitude"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control"
          placeholder="Longitude"
          [(ngModel)]="newFoyer.longitude"
          name="longitude"
          required
        />
      </div>
      <button type="submit" class="btn btn-success float-right">Add Foyer  <i class="fa fa-plus" aria-hidden="true"></i></button>

    </form>



    <!-- Foyer Table -->
    <h3 style="text-align: center;">List of Foyers</h3>
        <!-- Search Foyer Form -->
        <form>
          <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-5 col-sm-auto col-form-label">Search:</label>
            <div class="col-xs-3 col-sm-auto">
              <input
                type="text"
                class="form-control"
                id="table-filtering-search"
                placeholder="Search by Foyer Name"
                [(ngModel)]="searchQuery"
                name="searchQuery"
                (ngModelChange)="filterFoyers()"
              />
            </div>
          </div>
        </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Personnel Assigned</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foyer of filteredFoyers; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ foyer.nom }}</td>
          <td>{{ foyer.personnel?.nom || 'No personnel' }}</td>
          <td>{{ foyer.latitude }}</td>
          <td>{{ foyer.longitude }}</td>
          <td class="d-flex justify-content-around">
            <!-- Edit Button -->
            <button class="btn btn-primary" (click)="selectFoyerForEditing(foyer)">Edit</button>
            
            <!-- Delete Button -->
            <button class="btn btn-danger" [disabled]="!foyer?.id" (click)="deleteFoyer(foyer?.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Edit Foyer Modal -->
    <div class="modal fade" id="editFoyerModal" tabindex="-1" role="dialog" aria-labelledby="editFoyerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editFoyerModalLabel">Edit Foyer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Edit Form Inside Modal -->
            <form (ngSubmit)="editFoyer()">
              <div class="form-group">
                <label for="nom">Name:</label>
                <input type="text" id="nom" [(ngModel)]="foyerToEdit.nom" name="nom" required class="form-control"/>
              </div>
              <div class="form-group">
                <label for="longitude">Longitude:</label>
                <input type="number" id="longitude" [(ngModel)]="foyerToEdit.longitude" name="longitude" required class="form-control"/>
              </div>
              <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="number" id="latitude" [(ngModel)]="foyerToEdit.latitude" name="latitude" required class="form-control"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 

  </div>
</div>

